<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Detection</title>
</head>

<body>
    <h1>Medium model with Real ESRGAN</h1>
    <a href="/smallRealESRGAN">To small model page</a>
    <div></div>
    <a href="/largeRealESRGAN">To large model page</a>
    <div></div>
    <a href="/small">To small model with no Real ESRGAN</a>
    <div></div>
    {% for i in imagelist %}
    <img src="{{ url_for('static', filename=i)}} " width="1000">
    {% endfor %}
    <a href="/">Back to upload page</a>
</body>

</html>